.img-content{
    width: 765px;
    height: 400px;
}
.text-content{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
@media(max-width:795px){
    .img-content{
        width: 500px;
    }
    .text-content{
        font-size: 16px;
    }
}
@media(max-width:590px){
    .img-content{
        width: 100%;
        height: auto;
    }
    .text-content{
        font-size: 70%;
    }
}
@media(max-width:220px){
    .text-content{
        text-align: center;
    }
}