*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#boardGame{
 border: 1px solid black;
 max-width: 50vw;
 max-height: 50vh;
 display: grid;
 grid-template-columns: repeat(3,1fr);
}
.tableRegion{
  
  max-width: 20vw;
  min-height: 16vh;
  
  max-height: 15vh;
}
.border{
  border: 1px solid black;
}
.borderLeft{
  border-left: 1px solid black;
}
.borderRight{
  border-right: 1px solid black;
}
.borderTop{
  border-top: 1px solid black;
}
.borderBottom{
  border-bottom: 1px solid black;
  
}
